.box {
	width: 800px;
	height: 500px;
	border:2px solid #666;
	margin: 50px auto;
}

.nav{
	height: 30px;
	line-height: 30px;
	background: #ccc;
	text-align: center;
	a{
		margin:  0px 10px;
		text-decoration: none;
	}
}
.personage{
	background-color: antiquewhite;
	height: calc(500px - 30px);
}

.login{
	background-color: aqua;
	height: calc(500px - 30px);
}

.home{
	background-color: aquamarine;
	height: calc(500px - 30px);
}

.active{
	color: #fa4;
	font-weight: 700;
}